/**************Tag Selectors*****************/

body {
    margin: 0;
    text-align: center;
    color: #73A9AD;
}

h1{
    margin-top: 0px auto;
    font-family: 'Indie Flower', cursive;
}

h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;  
  padding-bottom: 10px;
}

h3 {
    color: #0A4D68;
    font-family: 'Indie Flower', cursive;
}
p {
    color: black;
   font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #088395;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #0A4D68;
    text-decoration: underline;
}

/**************Class Selectors*****************/

.top-container{
    background: #E3F4F4;
    position: relative;
    padding-top: 100px;
}

.heading-maham {
    font-size: 5.625rem;
    margin-bottom: 0px;
}

.middle-container {
    margin-top: 100px 0;
}

.bottom-container {
    background: #E3F4F4;
    padding: 50px 0 20px;
}

.mountain-img {
    width: 800px;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 70%;
    top: 50px;
    width: 200px;
}

.bottom-cloud {
    position: absolute;
    left: 70%;
    bottom: 250px;
    width: 300px;
}

.my-image {
    width: 150px;
    border-radius: 100px;
   
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.skill-row2 {
    width: 50%;
    margin: 100px auto;
}

.ux {
    width: 150px;
    float: left;
    margin-right: 30px;
}

.slack {
        width: 150px;
    border-radius: 100px;
    float: right;
    margin-left: 30px;
}

.head2 {
    font-size: 2rem;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    font-size: 0.75rem;
    margin: 20px auto 0px;
}
/**************ID Selectors*****************/


/**************Fonts*****************/

/*
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Shadows Into Light', cursive;*/


.btn {
  background: #b8f5f5;
  background-image: -webkit-linear-gradient(top, #b8f5f5, #088395);
  background-image: -moz-linear-gradient(top, #b8f5f5, #088395);
  background-image: -ms-linear-gradient(top, #b8f5f5, #088395);
  background-image: -o-linear-gradient(top, #b8f5f5, #088395);
  background-image: linear-gradient(to bottom, #b8f5f5, #088395);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b6e0e0;
  background-image: -webkit-linear-gradient(top, #b6e0e0, #066f7d);
  background-image: -moz-linear-gradient(top, #b6e0e0, #066f7d);
  background-image: -ms-linear-gradient(top, #b6e0e0, #066f7d);
  background-image: -o-linear-gradient(top, #b6e0e0, #066f7d);
  background-image: linear-gradient(to bottom, #b6e0e0, #066f7d);
  text-decoration: none;
}
